@charset "UTF-8";
@import url("responsivo.css");

.fontes{
      padding: 10px 40px;
      margin: auto;
    }

/* Container geral de cada bloco */
.fonte-item {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 30px;
    margin: 20px 0;
    background-color: #d6ffbd; /* verde claro do print */
}

/* Imagem (quadrado verde) */
.fonte-imagem {
    width: 250px;
    height: 250px;
    background-color: #0b7a3b;
   overflow: hidden;
}
.fonte-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

/* Texto */
.fonte-info p {
    margin: 5px 0;
    font-size: 1.1em;
}

/*Responsivo*/
@media (max-width: 768px) {

    .fonte-item {
        flex-direction: column;
        text-align: center;
    }

    .fonte-imagem {
        margin-bottom: 15px;
    }

    .fonte-info p {
        font-size: 1em;
    }
}