@charset "UTF-8";

    /*Lamatcom*/
    .lamatcom{
      padding: 10px 40px;
      margin: auto;
    }
    
    main ul{
      margin: 10px 0 20px 0;
    }
    .footer-lamatcom {
      background-color: var(--cor2);
      color: white;
      text-align: center;
      padding: 10px;
      border-radius: 0px 0px 10px 10px;
    }
    footer p {
      text-align: center;
    }
    .social-links {
      margin: 10px 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 15px;
    }
    .social-links a {
      color: white;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 8px;
      transition: color 0.3s;
    }
    .social-links a:hover {
      background-color: var(--cor1);
      color: white;
    }
    .parceiros {
      text-align: center;
      margin: 20px 0;
    }

    .logosparceiros{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin: 20px 0;
      flex-wrap: wrap;
    }