@charset "UTF-8";

 /* Pesquisadores*/
    .pesquisadores {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
     /* margin-bottom: 20px;*/
     margin: auto;
     padding: 20px;
    }

    .pesquisadores h1 {
      margin-bottom: 0.5em;
    }

    .pesquisadores img {
      width: 200px;
      height: auto;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
      margin: 10px;
    }
    .pesquisadores p {
      margin: 10px 20px;
      line-height: 1.6;
    }
