@charset "UTF-8";

 /*footer(rodapé)*/
    .footer-home {
      display: flex;
      align-items: center;
      justify-content: space-around;
      align-items: flex-start;
      background-color: var(--cor2);
      color: white;
      padding: 30px 50px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
      gap: 50px;
      min-width: 250px;
      max-width: 1500px;
      margin: auto;
      height: 170px;
    }
    .footer-logos {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .footer-logos img {
      width: 150px;
      height: auto;
    }

    .footer-info {
      display: flex;
      gap: 50px;
    }
    .footer-section {
      max-width: 250px;
    }
    .footer-section h3{
      margin-bottom: 5px;
    }
    .footer-section hr {
      border: none;
      border-top: 2px solid white;
      margin: 5px 0 10px 0;
      width: 100%;
    }
    .footer-section a {
      text-decoration: none;
      color: white;
      font-size: 16px;
    }
    .footer-section a:hover {
       background-color: var(--cor1);
      color: white;
    }
    .footer-referencia{
      display: blok;
      min-width: 250px;
      max-width: 1500px;
      align-items: center;
      margin: auto;
      padding: 10px;
      background-color: var(--cor2);
      color: white;
      text-align: center;
      border-radius: 0px 0px 10px 10px;
    }

/* ===== RESPONSIVO ===== */
@media (max-width: 900px){

          /*footer(rodapé)*/
          .footer-home {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            width: 100%;
           
          }
          .footer-logos {
            align-items: left;
          }
          .footer-info {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
          .footer-referencia{
            font-size: 14px;
            padding-top: 80px;
          }
  }