@charset "UTF-8";
@import url("responsivo.css");
@import url("cabeçalho.css");
@import url("pag-etnias.css");
@import url("rodape.css");
@import url("pesquisadores.css");
@import url("lamatcom.css");
@import url("linhadotempo.css");
@import url("galeria.css");

:root{
    --cor0: #DCFCE7;
    --cor1: #16A34A;
    --cor2: #157F3D;
    --cor3: #166534;
}

*{
  margin: 0px;
  padding : 0px;
  box-sizing: border-box;
}

body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      background-color: var(--cor3);

      overflow-x: hidden;
    }

      canvas#fundo {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: -1; /*Para ficar atrás de tudo*/
      display: block;
}
    
    main{
        background-color: white;
        min-width: 250px;
        max-width: 1500px;
        margin: auto;
        padding:20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
    }

    
    main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
    }

    main a{
    text-decoration: none;
    font-weight: bold;
    padding: 2px 6px;
    }
    
    main ul {
      list-style-position: inside;
    }

    main li{
      line-height: 2em;
    }

   .texto-home {
        width: 90%;
        margin: 20px auto;
      }

   .hidden{
        display: none;
      }

    #lerMaisBtn {
      display: block;
      margin-left: auto;
      background-color: #16A34A;
      border: none;
      padding: 10px 20px;
      margin-top: 10px;
      border-radius: 25px;
      cursor: pointer;
      transition: 0.3s;
      color: white;
    }

    #lerMaisBtn:hover {
      background-color: #15803d;
      text-decoration: underline;
    }

    /* Container da seção */
    #curiosidades {
      max-width: 1100px;
      /*margin: auto;
      padding: 40px 20px;*/
      width: 90%;
      margin: 20px auto
    }

    /* Organização dos cards em grade */
    .curiosidades-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 25px;
    }

    /* Estilo dos cards */
    .curiosidade-card {
      background: #ffffff;
      border-radius: 12px;
      padding: 20px;
      text-align: center;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      transition: transform .3s ease, box-shadow .3s ease;
    }

    /* Efeito ao passar o mouse */
    .curiosidade-card:hover {
      transform: translateY(-6px);
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    }

    /* Imagem do card */
    .curiosidade-card img {
      width: 100%;
      height: 160px;
      object-fit: cover;
      border-radius: 10px;
      margin-bottom: 15px;
    }


    .curiosidade-card h3 a {
      text-decoration: none;
      color: #003366;
      font-weight: bold;
    } 